server:
  port: 8080
  forward-headers-strategy: framework

eureka:
  client:
    enabled: true  # Eureka 클라이언트 활성화
    service-url:
      defaultZone: http://eurekaserver-svc:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${POD_NAME}:${server.port}
    ip-address: ${POD_IP}            # ↓ 아래 Deployment에서 주입
    metadata-map:
      management.port: ${server.port}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui

management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  health:
    probes:
      enabled: true
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
  metrics:
    distribution:
      # 히스토그램 꼭 켜기 (복수형!)
      percentiles-histogram:
        http.server.requests: true
      # 퍼센타일 값(P90/P99)도 함께 노출
      percentiles:
        http.server.requests: 0.9,0.99

gateway:
  hmac-secret: ${GATEWAY_HMAC_SECRET}