spring:
  application:
    name: "user-server"
#  config:
#    import: "configserver:"
  cloud:
    config:
      enabled: false
      #      uri: http://config-server:8888
      #uri: http://i13d106.p.ssafy.io:8888

  datasource:
    url: ${POSTGRESGL_URL}
    username: ${POSTGRESGL_USERNAME}
    password: ${POSTGRESGL_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: http://localhost:8080/login/oauth2/code/google
            scope:
              - email
              - profile
              - openid

app:
  invite-code:
    ttl-minutes: 1440   # 기본 24h
    code-length: 8
    revoke-previous: true  # 새로 발급 시 기존 미사용 코드 무효화

jwt:
  access:
    secret: ${ACCESS_SECRET}
    expire: ${ACCESS_EXPIRE}
  refresh:
    secret: ${REFRESH_SECRET}
    expire: ${REFRESH_EXPIRE}


