server:
  port: 8888

spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri: https://lab.ssafy.com/eunsolhh/helloworld-config-repo
          username: ${GIT_USERNAME}
          password: ${GIT_TOKEN}
          default-label: main