server:
  port: 8888

spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri: https://lab.ssafy.com/eunsolhh/helloworld-config-repo.git
          username: ${GIT_USERNAME}
          password: ${GIT_TOKEN}
          default-label: master


management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info
  health:
    probes:
      enabled: true
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true




