server:
  port: 8080
  forward-headers-strategy: framework
spring:
  application:
    name: "calendar-diary-server"
#  config:
#    import: "configserver:"
  cloud:
    config:
      enabled: false

  datasource:
#    url: jdbc:postgresql://calendar-postgres-svc.apps.svc.cluster.local:5432/calendar-db
#    username: postgres
#    password: ${POSTGRES_PASSWORD:strong_calendar_pw}
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/calendar_diary?sslmode=disable
    username: postgres
    password: root


  jpa:
    hibernate:
      ddl-auto: none   # create, update, validate, none 중 선택
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    time-zone: Asia/Seoul
    mvc:
      format:
        date: yyyy-MM-dd
        date-time: yyyy-MM-dd'T'HH:mm:ss


# 로그 보기 편하게
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui


eureka:
  client:
    enabled: false       # Eureka 클라이언트 완전 OFF local에서는


management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info
  health:
    probes:
      enabled: true
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true



